<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Coach</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" methods="get" href="sanpham">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active mr-1">
                <div class="btn-group">
                    <button class="btn btn-outline-success dropdown-toggle" data-display="static" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Products
                    </button>
                    <form action="sanpham" method="get">
                        <div class="dropdown-menu dropdown-menu-lg-right">
                            <button class="dropdown-item" value="supply" name="sm" type="submit">Thực phẩm hỗ trợ
                            </button>
                            <button class="dropdown-item" value="equipment" name="sm" type="submit">Dụng cụ tập luyện
                            </button>
                            <button class="dropdown-item" value="clothes" name="sm" type="submit">Quần áo tập luyện
                            </button>
                        </div>
                    </form>
                </div>
            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/qlysanpham">Products Management</a>
            </li>
            <li class="nav-item active  mr-1">
                <a class="btn btn-outline-success" href="/listcoach" id="navbarDropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    Coach
                </a>

            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/qlykhachhang">Customer Management</a>
            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/listAdmin" tabindex="-1" aria-disabled="true">Administrator
                    Management</a>
            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/listOrder" tabindex="-1" aria-disabled="true">Order
                    Management</a>
            </li>
        </ul>
<!--        <form class="form-inline my-2 my-lg-0">-->
<!--            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--        </form>-->
        <a class="btn btn-outline-success" href="/" tabindex="-1" aria-disabled="true">Đăng xuất</a>
    </div>
</nav>
<div class="row">
    <div class="row">
        <div class="col-sm-12">
            <div class="list-group">
                <a href="/quantriHLV" class="list-group-item list-group-item-action">
                    Duyệt hồ sơ HLV
                </a>
                <a href="/baocao" class="list-group-item list-group-item-action">
                    Phản hồi từ khách hàng
                </a>
                <a href="/thongke" class="list-group-item list-group-item-action">
                    Thống kê
                </a>

            </div>
        </div>
    </div>
    <div class="col-sm-10 bg-light">
        <br> <br>
        <div class=" container col-11">
            <div class="row row-cols-1 row-cols-md-4">
                {{#each data}}
                    <div class="col mb-12" style="margin-top: 25px">
                        <div class="card">
                            <img src="../public/{{this.ImageProfile}}" class="card-img-top" width="" height="220px"
                                 alt='../public/{{this.ImageProfile}}'>

                            <div class="card-body">
                                <h5 class="card-title text-center" >{{this.Fullname}}</h5>
                                <p class="card-text">Chuyên ngành: {{this.Specialized}} <br> Tuổi:  {{this.Age}}</p>
                                <div class="card-footer">
                                    <form action="detailCoach" method="get">
                                        <div class="form-group" style="display: none">
                                            <input type="text" name="idCoach" value="{{this._id}}" class="form-control">
                                        </div>
                                        <button type="submit" value="1" name="btn" class="btn btn-primary col-12">Chi
                                            tiết
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>