<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Administrator</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" methods="get" href="sanpham">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active mr-1">
                <div class="btn-group">
                    <button class="btn btn-outline-success dropdown-toggle" data-display="static" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Products
                    </button>
                    <form action="sanpham" method="get">
                        <div class="dropdown-menu dropdown-menu-lg-right">
                            <button class="dropdown-item" value="supply" name="sm" type="submit">Thực phẩm hỗ trợ
                            </button>
                            <button class="dropdown-item" value="equipment" name="sm" type="submit">Dụng cụ tập luyện
                            </button>
                            <button class="dropdown-item" value="clothes" name="sm" type="submit">Quần áo tập luyện
                            </button>
                        </div>
                    </form>
                </div>
            </li>
            <li class="nav-item active mr-1">
                <div class="btn-group">
                    <button class="btn btn-outline-success dropdown-toggle" data-display="static" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Products Management
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-right">
                        <form action="qlysanpham" method="get">
                            <button class="dropdown-item" type="submit">Sản phẩm còn hàng</button>
                        </form>
                        <form action="sold_outsanpham" method="get">
                            <button class="dropdown-item" type="submit">Sản phẩm hết hàng</button>
                        </form>
                    </div>
                </div>
            </li>
            <li class="nav-item active  mr-1">
                <a class="btn btn-outline-success" href="/listcoach" id="navbarDropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    Coach
                </a>

            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/qlykhachhang">Customer Management</a>
            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/listAdmin" tabindex="-1" aria-disabled="true">Administrator
                    Management</a>
            </li>
            <li class="nav-item active mr-1">
                <div class="btn-group">
                    <button class="btn btn-outline-success dropdown-toggle" data-display="static" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Order Management
                    </button>

                    <div class="dropdown-menu dropdown-menu-lg-right">
                        <form action="listOrderDelivered" method="get">
                            <button class="dropdown-item" type="submit">Đơn hàng đã giao</button>
                        </form>
                        <form action="listOrderDelivering" method="get">
                            <button class="dropdown-item" type="submit">Đơn hàng đang giao</button>
                        </form>
                    </div>

                </div>
            </li>
        </ul>
        <a class="btn btn-outline-success" href="/" tabindex="-1" aria-disabled="true">Đăng xuất</a>
    </div>
</nav>

<div class="row">
    <div class="row">
        <div class="col-sm-12">
            <div class="list-group">
                <a href="/quantriHLV" class="list-group-item list-group-item-action">
                    Duyệt hồ sơ HLV
                </a>
                <a href="/baocao" class="list-group-item list-group-item-action">
                    Phản hồi từ khách hàng
                </a>
                <a href="/thongke" class="list-group-item list-group-item-action">
                    Thống kê
                </a>

            </div>
        </div>
    </div>
    <div class="container">

        <div style="display:{{statusDisplay}}" class="alert alert-warning alert-dismissible fade show" role="alert">
            {{textAlert}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="container rounded-bottom bg-light ">
            <br> <br>
            <h3 style="text-align: center">Đơn hàng đã giao</h3>
            <table class="table container col-sm-12">
                <thead>
                <tr>
                    <!--                    <th scope="col">_id</th>-->
                    <th scope="col">Thời gian</th>
                    <th scope="col">Tài khoản</th>
                    <th scope="col">Tên người nhận</th>
                    <th scope="col">Sản phẩm<br> Số lượng x Giá</th>
                    <th scope="col">Giá trị</th>
                    <th scope="col">Địa chỉ</th>
                    <th scope="col">Số điện thoại</th>
                    <th scope="col">Trạng thái</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {{#each data}}

                    <tr>
                    <form action="notDoneOrderYet" method="post">
                        <td name="row" style="display:none">
                            <input style="white-space: nowrap; overflow: hidden;
                                text-overflow: ellipsis; width: 75px;" type="text" class="form-control" name="idOrder"
                                   value="{{this._id}}">
                        </td>
                        <td name="row" width="170   px">{{this.DateCart}}</td>
                        <td scope="row" width="200px">{{this.Username}}</td>
                        <td scope="row" width="200px">{{this.Recipients}}</td>
                        <td scope="row" id="products">
                            {{#each this.Cart}}
                                <p style="width: 150px;">{{Name}} <br><b>{{Quantity}}</b> x <b
                                        style="color: red">{{number Price}}
                                    VND </b></p>
                            {{/each}}
                        </td>
                        <td scope="row" width="250px"><b style="color: red">{{number this.TotalPrice}} VND</b></td>
                        <td name="row" width="200px">{{this.ReceivingAddress}}</td>
                        <td name="row">{{this.Phone}}</td>
                        <td name="row" width="200px" style="color: green; font-weight: bold">{{this.Status}}</td>
                        <td name="row" style="display:none}" >
                            <button type="submit" style="background: #00acde; color: white; width: 100px">Not Yet
                            </button>
                        </td>


                {{/each}}


                </form>
                </tr>


            </table>
        </div>
    </div>


</div>
<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>