<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Products</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" methods="get"  href="sanpham">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active mr-1">
                <div class="btn-group">
                    <button class="btn btn-outline-success dropdown-toggle" data-display="static" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Products
                    </button>
                    <form action="sanpham" method="get">
                        <div class="dropdown-menu dropdown-menu-lg-right">
                            <button class="dropdown-item" value="supply" name="sm" type="submit">Thực phẩm hỗ trợ</button>
                            <button class="dropdown-item" value="equipment" name="sm" type="submit">Dụng cụ tập luyện</button>
                            <button class="dropdown-item" value="clothes" name="sm" type="submit">Quần áo tập luyện</button>
                        </div>
                    </form>
                </div>
            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/qlysanpham">Products Management</a>
            </li>
            <li class="nav-item active  mr-1">
                <a class="btn btn-outline-success" href="/listcoach" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    Coach
                </a>

            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/qlykhachhang">Customer Management</a>
            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/listAdmin" tabindex="-1" aria-disabled="true">Administrator Management</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<form action="upsanpham" method="get">
    <div class="container">
        <div class="row justify-content-md-center row-cols-4">
            <button type="submit" class=" btn btn-success">Thêm Sản Phẩm</button>
        </div>
    </div>
</form>
<div class="container rounded-bottom bg-light ">
    <br> <br>
    <table class="table container col-10">
        <thead>
        <tr>
            <th scope="col">_id</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Giá</th>
            <th scope="col">Ảnh</th>
            <th scope="col">Loại SP</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Thao tác</th>
        </tr>
        </thead>
        <tbody>
        {{#each data}}
            <tr>
                <th scope="row">{{this._id}}</th>
                <td>{{this.ProductName}}</td>
                <td>{{this.Price}}</td>
                <td>{{this.ImageProduct}}</td>
                <td>{{this.Classify}}</td>
                <td>{{this.Quantity}}</td>
                <td>

                    <form action="/updatesanpham" method="get">
                        <div class="form-group" style="display: none">
                            <input type="text" name="idSP" value="{{this._id}}" class="form-control">
                            <input type="text" name="imageSP" value="{{this.ImageProduct}}" class="form-control">
                            <input type="text" name="nameSP" value="{{this.ProductName}}" class="form-control">
                            <input type="text" name="priceSP" value="{{this.Price}}" class="form-control">
                            <input type="text" name="descriptionSP" value="{{this.Description}}" class="form-control">
                            <input type="text" name="classifySP" value="{{this.Classify}}" class="form-control">
                            <input type="text" name="slSP" value="{{this.Quantity}}" class="form-control">
                            <input type="text" name="rateSP" value="{{this.Rating}}" class="form-control">
                        </div>

                        <button type="submit" name="update" value="1" class="btn btn-warning">Sửa</button>

                    </form>
                    <form action="delsanpham" method="get">
                        <div class="form-group" style="display: none">
                            <input type="text" name="idSP" value="{{this._id}}" class="form-control">
                        </div>
                        <button type="submit" name="del" value="1" class="btn btn-danger">Xóa</button>
                    </form>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>