<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link href="public/sanpham.css" rel="stylesheet">
    <link href="../public/lienhe.css" rel="stylesheet">
    <title>Product</title>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" methods="get" href="sanpham">Trang chủ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active mr-1">
                <div class="btn-group">
                    <button class="btn btn-outline-success dropdown-toggle" data-display="static" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Products
                    </button>
                    <form action="sanpham" method="get">
                        <div class="dropdown-menu dropdown-menu-lg-right">
                            <button class="dropdown-item" value="supply" name="sm" type="submit">Thực phẩm hỗ trợ
                            </button>
                            <button class="dropdown-item" value="equipment" name="sm" type="submit">Dụng cụ tập luyện
                            </button>
                            <button class="dropdown-item" value="clothes" name="sm" type="submit">Quần áo tập luyện
                            </button>
                        </div>
                    </form>
                </div>
            </li>
            <li class="nav-item active mr-1">
                <div class="btn-group">
                    <button class="btn btn-outline-success dropdown-toggle" data-display="static" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Products Management
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg-right">
                        <form action="qlysanpham" method="get">
                            <button class="dropdown-item" type="submit">Sản phẩm còn hàng</button>
                        </form>
                        <form action="sold_outsanpham" method="get">
                            <button class="dropdown-item" type="submit">Sản phẩm hết hàng</button>
                        </form>
                    </div>
                </div>
            </li>
            <li class="nav-item active  mr-1">
                <a class="btn btn-outline-success" href="/listcoach" id="navbarDropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">
                    Coach
                </a>

            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/qlykhachhang">Customer Management</a>
            </li>
            <li class="nav-item active mr-1">
                <a class="btn btn-outline-success" href="/listAdmin" tabindex="-1" aria-disabled="true">Administrator
                    Management</a>
            </li>
            <li class="nav-item active mr-1">
                <div class="btn-group">
                    <button class="btn btn-outline-success dropdown-toggle" data-display="static" type="button"
                            data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Order Management
                    </button>

                    <div class="dropdown-menu dropdown-menu-lg-right">
                        <form action="listOrderDelivered" method="get">
                            <button class="dropdown-item" type="submit">Đơn hàng đã giao</button>
                        </form>
                        <form action="listOrderDelivering" method="get">
                            <button class="dropdown-item" type="submit">Đơn hàng đang giao</button>
                        </form>
                    </div>

                </div>
            </li>
        </ul>
        <a class="btn btn-outline-success" href="/" tabindex="-1" aria-disabled="true">Đăng xuất</a>
    </div>
</nav>


    <div id="id01" class="modal" style="display: {{status}};">

        <p style="color: white; text-align: center;height: 100px; border: solid 3px darkblue;  border-radius: 20px; background: #3b5998; margin-right: 600px; margin-left: 600px; margin-top: 300px; padding-top: 25px; font-size: 25px">Xin chào {{userAdmin}} !</p>

    </div>
<script>

    // Get the modal
    let modal = document.getElementById('id01');

    setTimeout(function(){
                modal.style.display = "none";
        },
            3000);

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {

        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

<div class="row">
    <div class="row">
        <div class="col-sm-12">
            <div class="list-group">
                <a href="/quantriHLV" class="list-group-item list-group-item-action">
                    Duyệt hồ sơ HLV
                </a>
                <a href="/baocao" class="list-group-item list-group-item-action">
                    Phản hồi từ khách hàng
                </a>
                <a href="/thongke" class="list-group-item list-group-item-action">
                    Thống kê
                </a>

            </div>
        </div>
    </div>

    <div class="col-sm-10 bg-light">
        <div class="container col-10">
            <h3 style="text-align: center">{{title}}</h3>
            <div class="row row-cols-1 row-cols-md-3">
                {{#each data}}
                    <div class="col mb-4">
                        <article style="width: 300px">
                            <section class="imgbox">
                                <img src="../public/{{this.ImageProduct}}" class="card-img-top" width="100px"
                                     height="200px"
                                     alt='../public/{{this.ImageProduct}}'>
                            </section>
                            <section class="details2">
                                <div style="text-align: center;">
                                    <div style="white-space: nowrap; overflow: hidden;
                                        text-overflow: ellipsis; font-size: 18px; font-weight: bold">{{this.ProductName}}</div>
                                    <h5 class="price" style="display: inline-block; margin-top: 15px"
                                        id="price">{{number this.Price}} VND</h5>

                                </div>
                                <label style="margin-top: 20px; font-size: 18px">Thể loại: {{this.Classify}}</label>
                                <form action="detailProduct" method="get">
                                    <div class="form-group" style="display: none">
                                        <input type="text" name="idSP" value="{{this._id}}" class="form-control">
                                    </div>

                                    <button class="cart" type="submit" value="1" name="btn">Chi
                                        tiết
                                    </button>
                                </form>

                            </section>
                        </article>
                    </div>



                {{/each}}

            </div>
        </div>
    </div>
</div>

<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function() {
        alert("Bạn phải đăng xuất trước");
        history.go(1);
    }

</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>