<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Product</title>
</head>
<body>


<div class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" methods="get" href="sanpham">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active mr-1">
                    <div class="btn-group">
                        <button class="btn btn-outline-success dropdown-toggle" data-display="static" type="button"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Products
                        </button>
                        <form action="sanpham" method="get">
                            <div class="dropdown-menu dropdown-menu-lg-right">
                                <button class="dropdown-item" value="supply" name="sm" type="submit">Thực phẩm hỗ trợ
                                </button>
                                <button class="dropdown-item" value="equipment" name="sm" type="submit">Dụng cụ tập
                                    luyện
                                </button>
                                <button class="dropdown-item" value="clothes" name="sm" type="submit">Quần áo tập
                                    luyện
                                </button>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="nav-item active mr-1">
                    <div class="btn-group">
                        <button class="btn btn-outline-success dropdown-toggle" data-display="static" type="button"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Products Management
                        </button>
                        <div class="dropdown-menu dropdown-menu-lg-right">
                            <form action="qlysanpham" method="get">
                                <button class="dropdown-item" type="submit">Sản phẩm còn hàng</button>
                            </form>
                            <form action="sold_outsanpham" method="get">
                                <button class="dropdown-item" type="submit">Sản phẩm hết hàng</button>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="nav-item active  mr-1">
                    <a class="btn btn-outline-success" href="/listcoach" id="navbarDropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        Coach
                    </a>

                </li>
                <li class="nav-item active mr-1">
                    <a class="btn btn-outline-success" href="/qlykhachhang">Customer Management</a>
                </li>
                <li class="nav-item active mr-1">
                    <a class="btn btn-outline-success" href="/listAdmin" tabindex="-1" aria-disabled="true">Administrator
                        Management</a>
                </li>
                <li class="nav-item active mr-1">
                    <div class="btn-group">
                        <button class="btn btn-outline-success dropdown-toggle" data-display="static" type="button"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">Order Management
                        </button>

                        <div class="dropdown-menu dropdown-menu-lg-right">
                            <form action="listOrderDelivered" method="get">
                                <button class="dropdown-item" type="submit">Đơn hàng đã giao</button>
                            </form>
                            <form action="listOrderDelivering" method="get">
                                <button class="dropdown-item" type="submit">Đơn hàng đang giao</button>
                            </form>
                        </div>

                    </div>
                </li>
            </ul>
            <a class="btn btn-outline-success" href="/" tabindex="-1" aria-disabled="true">Đăng xuất</a>
        </div>
    </nav>
    <div class="row">
        <div class="row">
            <div class="col-sm-12">
                <div class="list-group">
                    <a href="/quantriHLV" class="list-group-item list-group-item-action">
                        Duyệt hồ sơ HLV
                    </a>
                    <a href="/baocao" class="list-group-item list-group-item-action">
                        Phản hồi từ khách hàng
                    </a>
                    <a href="/thongke" class="list-group-item list-group-item-action">
                        Thống kê
                    </a>

                </div>
            </div>
        </div>
        <div class="col-sm-10 bg-light" style="padding-right:50px">
            <table class="table table-bordered table-info">
                <thead class="thead-dark ">
                <tr>
                    <th scope="col" class="text-center">Thống kê</th>
                    <th scope="col" class="text-center">HLV</th>
                    <th scope="col" class="text-center">Sản phẩm</th>
                    <th scope="col" class="text-center">Khách hàng</th>
                    <th scope="col" class="text-center">Đơn hàng</th>
                </tr>
                </thead>
                <tr>
                    <th scope="row">Số lượng</th>
                    <td>{{allCoach}}</td>
                    <td>{{allProduct}}</td>
                    <td>{{allUser}}</td>
                    <td>{{allCart}}</td>
                </tr>
            </table>
            <div class="container">
                <label class="font-weight-bold"></label>
                <p>- Số lượng khách hàng là nam: <label class="font-weight-bold"> {{BoyUser}}</label> người</p>
                <p>- Số lượng khách hàng là nữ: <label class="font-weight-bold">{{GirlUser}} </label> người</p>
                <p>- Số lượng khách hàng đang đợi duyệt để trở thành Huấn luyện viên: <label
                        class="font-weight-bold">{{CustomersWaitingApproval}} </label>
                    người</p>
                <p>- Số lượng khách hàng chưa là Huấn luyện viên: <label
                        class="font-weight-bold">{{CustomersNotCoach}}</label> người</p>
                <p>- Số lượng phẩn hồi từ khách hàng: <label class="font-weight-bold">{{FeedbackFromCustomers}}</label> phản hồi<br>&nbsp;• Chưa được trả lời:<b> {{FeedbackNotResponded}}</b> phản hồi <br>&nbsp;• Đã được trả lời: <b>{{FeedbackResponded}}</b> phản hồi
                    </p>
                <p>- Số lượng đơn hàng trong ngày {{dateNow}}: <label class="font-weight-bold">{{CartInADay}}</label> đơn
                    hàng</p>
                <p>- Số lượng đơn hàng trong tháng {{MonthNow}}: <label class="font-weight-bold">{{CartInMonth}} </label>
                    đơn hàng</p>

                <p>- Doanh số bán hàng trong ngày  {{dateNow}}: <label class="font-weight-bold"><label style="color: red">{{number TotalInDay}} </label></label>
                    VNĐ</p>

                <p>- Doanh số bán hàng trong tháng  {{MonthNow}}: <label class="font-weight-bold"><label style="color: red">{{number TotalInMonth}}</label> </label>
                    VNĐ</p>

                <p>- Tổng doanh thu: <label class="font-weight-bold"><label style="color: red">{{number AllTotal}}</label> </label>
                    VNĐ</p>
            </div>
        </div>
    </div>
</div>
<script>
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>