<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>Caculator</title>
</head>
<body>

<div class="container rounded-bottom bg-light ">
    <div class="col-sm-10  rounded-bottom bg-light " style="padding-right: 3%">
        <hr>
        <hr>
        <form action="/updateSoldSPdone" method="post" class=" container col-10"  enctype="multipart/form-data">
            <input type="text" name="nIdSoldSPUpdate" value="{{idSP}}" required class="form-control" style="display: none">
            <div class="form-group">
                <label for="nNameSoldSPUpdate">Tên sản phẩm</label>
                <input type="text" class="form-control" value="{{nameSP}}" required name="nNameSoldSPUpdate">
            </div>
            <div class="form-group">
                <label for="nPriceSoldSPUpdate">Giá sản phẩm</label>
                <input type="text" class="form-control" value="{{priceSP}}" required name="nPriceSoldSPUpdate">
            </div>
            <div class="form-group">
                <label for="nImageSoldSPUpdate">Hình ảnh</label>
                <input type="file" class="form-control-file" value="{{imageSP}}" required name="nImageSoldSPUpdate">
            </div>
            <div class="form-group">
                <label for="nClassifySoldSPUpdate">Loại sản phẩm</label>
                <input type="text" class="form-control" value="{{classifySP}}" required name="nClassifySoldSPUpdate">
            </div>
            <div class="form-group">
                <label for="nDescriptionSoldSPUpdate">Miêu tả sản phẩm</label>
                <input type="text" class="form-control" value="{{descriptionSP}}" required name="nDescriptionSoldSPUpdate">
            </div>

            <div class="form-group">
                <label for="nSlSoldSPUpdate">Số lượng</label>
                <input type="text" class="form-control" value="{{slSP}}" required name="nSlSoldSPUpdate">
            </div>
            <div class="form-group">
                <label for="nRateSoldSPUpdate">Rating</label>
                <input type="text" class="form-control" value="{{rateSP}}" required name="nRateSoldSPUpdate">
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <button type="submit" name="update" value="1"
                            class="btn btn-outline-dark col-sm-12 ">Cập nhật</button>
                </div>
                <div class="col-4">
                    <a href="sold_outsanpham" id="cancel" class="btn btn-outline-dark col-sm-12">Hủy
                    </a>
                </div>
            </div>
        </form>

        <br><br><br>
    </div>
    <div style="display: {{statusDisplay}}" class="alert alert-warning alert-dismissible fade show" role="alert">
        {{textAlert}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>